

<h2>Make your order</h2>

<div class="row">
    <div class="col-lg-4">
        <h3>Alcohol</h3>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
        </div>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
        </div>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
        </div>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
        </div>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
        </div>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
        </div>
    </div>
    <div class="col-lg-4">
        <h3>Non-alcohol</h3>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Cola light</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Cola zero</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Cola Life</button>
        </div>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
        </div>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
        </div>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
        </div>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
        </div>
        <div class="btn-group">
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-primary">Stella</button>
            <button style="width: 80px; height: 80px; margin: 5px;" class="btn btn-danger">Stella</button>
        </div>
    </div>
    <div class="col-lg-4">
        <h3>Summary</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Stella</td>
                <td>1</td>
                <td>1,80</td>
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td>Cola</td>
                <td>2</td>
                <td>1,80</td>
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            </tr>
            </tbody>
        </table>

        <br/>
        <br/>
        <br/>
        <br/>

        <table class="table">
            <thead>
            <tr>
                <th>Total</th>
                <th>3</th>
                <th>5,40</th>
            </tr>
            </thead>
        </table>
        <br/>
        <button class="btn btn-success">Complete order</button>
    </div>
</div>