

<h2>Payment options</h2>
<div class="row">
    <div class="col-lg-4">

        <h3>Summary</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Stella</td>
                    <td>1</td>
                    <td>1,80</td>
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                </tr>
                <tr>
                    <td>Cola</td>
                    <td>2</td>
                    <td>1,80</td>
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                </tr>
            </tbody>
        </table>

        <br />
        <br />
        <br />
        <br /> 
        <table class="table">
            <thead>
                <tr>
                    <th>Total</th>
                    <th>3</th>
                    <th>5,40</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="col-lg-4">
        <h3>Options</h3>
        <div class="list-group">
            <a href="#" class="list-group-item active">Cash</a>
            <a href="#" class="list-group-item">Bancontact</a>
            <a href="#" class="list-group-item">VISA</a>
        </div>
    </div>

    <div class="col-lg-4">
        <h3>Details</h3>
        <label class="control-label">Received amount</label>

        <input class="form-control"/>
        <button class="btn btn-primary">Calc change</button>



    </div>
</div>
