@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>Dashboard</h1>
        <p class="lead">Please log in to continue</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Login now</a></p>
    </div>*@

<h1>Please select one of the following choises</h1>

<br />
<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-lg-6 text-center">
        <button style="width: 200px; height: 200px; font-size: 35px" class="btn btn-info">Orders</button>
    </div>
    @*<div class="col-lg-3 text-center">
        <button style="width: 200px; height: 200px; font-size: 35px" class="btn btn-danger">Employees</button>
    </div>
    <div class="col-lg-3 text-center">
        <button style="width: 200px; height: 200px; font-size: 35px" class="btn btn-primary">Stock</button>
    </div>*@
    <div class="col-lg-6 text-center">
        <button style="width: 200px; height: 200px; font-size: 35px" class="btn btn-danger">Statistics</button>
    </div>

</div>
