@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>U bent ingelogd</title>
</head>
<body>
    <div>
        <table class="table table-condensed">
            <tr>
                <th></th>
            </tr>

        </table>
    </div>
</body>
</html>
