@model TestUser.Models.Statistics

@{
    ViewBag.Title = "Delete";
}

<h2>Employee statistics</h2>

<table class="table">
    <tr>
        <th>Order nr</th>
        <th>Nr of items</th>
        <th>Total amount</th>
    </tr>
</table>
